<h4 class="text-center"><%= @examination.group.title %> | <%= @examination.group.speciality.title %> | <%= @examination.group.year %></h4>

<h4 class="text-center"><%= @examination.title %> | <%= @examination.date.strftime('%d.%m.%Y') if @examination.date %> (max: <%= @examination.max_value %> балів) </h4>

<table class="table">
   
    <% @examination.group.students.each do |student| %>
      <tr id="student_row_<%= student.id %>">
        <%= render partial: 'student_ball_row', locals: { examination: @examination, student: student, ball: @balls[student.id] } %>
      </tr>
    <% end %>
    
</table>
