<p>Оновлено: <%= Time.now.strftime "%d.%m.%Y %H:%M:%S" %> </p>

<% @groups.each do |group| %>
  <h4 class='text-center' style="font-weight: bold; color: #5287A6;"><%= group.title %> 
      | <%= group.speciality.title %> | <%= group.year %></h4>
  
    <table class="table balls">
        <thead>
            <tr>
                <th>№</th>
                <th>П І Б</th>
                <% group.active_examinations.each do |examination| %>
                <th title='<%= examination.popup_title %>'>
                  <%= examination.short_title %>
                </th>
                <% end %>
            </tr>
        </thead>
        <tbody>
          <% n = 1 %>
          <% group.active_students.each do |student| %>
            <% balls = student.balls.index_by &:examination_id %>
            <tr>
                <td><%= n %>.</td>
                <td><%= student.full_name %></td>
                <% group.active_examinations.each do |examination| %>
                  <td><%= ball_text(balls[examination.id]) %></td>
                <% end %>
            </tr>
            <% n += 1 %>
          <% end %>
        </tbody>
        
    </table>
  
<% end %>