<span class="page_title">Список студентів</span>

<% if @group_id %>
  <span style="float:right"><%= link_to 'Показати всі групи', students_path  %></span>
<% end %>

<% @groups.each do |group| %>
  <br />
  <table class="table">
      <thead>
          <tr>
              <th><%= group.title %></th>
              <th><%= group.speciality.short_title %></th>
              <th><%= group.year %></th>
              <th class="text-right">
                  <%= link_to 'Додати студента', new_student_path(student_group_id: group.id, group_id: @group_id) %>
                  <% unless @group_id %>
                      | <%= link_to 'Показати тільки цю групу', students_path(group_id: group.id) %>
                  <% end %>
              </th>
          </tr>
      </thead>
      <tbody>
         <% n = 1 %>
          <% group.active_students.each do |student| %>
            <%= render partial: 'student_line', locals: { student: student, number: n } %>
            <% n += 1 %>
          <% end %>
         <% group.inactive_students.each do |student| %>
            <%= render partial: 'student_line', locals: { student: student, number: nil } %>
         <% end %>
      </tbody>

  </table>

<% end %>