<br /><br />

<table class="table">
    <tr>
        <td width="50%">Напрямків</td>
        <td><%= Speciality.count %></td>
    </tr>
    <tr>
        <td>Груп</td>
        <td><%= Group.count %></td>
    </tr>
    <tr>
        <td>Студентів</td>
        <td><%= Student.count %></td>
    </tr>
    <tr>
        <td>Типів оцінювання</td>
        <td><%= Examination.count %></td>
    </tr>
    <tr>
        <td>Оцінок</td>
        <td><%= Ball.count %></td>
    </tr>
</table>