<span class="page_title">Типи оцінювання</span>

<% if @group_id %>
  <span style="float:right"><%= link_to 'Показати всі групи', examinations_path  %></span>
<% end %>

<% @groups.each do |group| %>
  <br />
  <table class="table examinations_table">
      <thead>
          <tr>
              <th><%= group.title %></th>
              <th><%= group.speciality.short_title %></th>
              <th><%= group.year %></th>
              <th class="text-right" colspan="2">
                  <%= link_to 'Додати тип оцінювання', 
                    new_examination_path(examination_group_id: group.id, group_id: @group_id) %>
                  <% unless @group_id %>
                      | <%= link_to 'Показати тільки цю групу', 
                          examinations_path(group_id: group.id) %>
                  <% end %>
              </th>
          </tr>
      </thead>
      <tbody>
          <% group.active_examinations.each do |examination| %>
            <%= render partial: 'examination_line', locals: { examination: examination} %>
          <% end %>
          <% group.inactive_examinations.each do |examination| %>
            <%= render partial: 'examination_line', locals: { examination: examination} %>
          <% end %>
      </tbody>

  </table>

<% end %>
  
<script type="text/javascript">

  var fixHelperModified = function(e, tr) {
    var $originals = tr.children();
    var $helper = tr.clone();
    $helper.addClass('active');
    $helper.children().each(function(index){
      $(this).width($originals.eq(index).width() + 16);
    });
    return $helper;
  };


  $(".examinations_table tbody").each(function(index){
    $(this).sortable({
      helper: fixHelperModified,
      handle: ".sortable",
      axis: 'y',
      cursor: 'move',
      update: function(event, ui){
        var a = $(this).sortable('toArray');
        $.post('/examinations/update_order', {
          data: a
        });
      }
    });    
  });
    

</script>