<span class="page_title">Типи оцінювання</span>

<% if @group_id %>
  <span style="float:right"><%= link_to 'Показати всі групи', examinations_path  %></span>
<% end %>

<% @groups.each do |group| %>
  <br />
  <table class="table">
      <thead>
          <tr>
              <th><%= group.title %></th>
              <th><%= group.speciality.short_title %></th>
              <th><%= group.year %></th>
              <th class="text-right" colspan="2">
                  <%= link_to 'Додати тип оцінювання', 
                    new_examination_path(examination_group_id: group.id, group_id: @group_id) %>
                  <% unless @group_id %>
                      | <%= link_to 'Показати тільки цю групу', 
                          examinations_path(group_id: group.id) %>
                  <% end %>
              </th>
          </tr>
      </thead>
      <tbody>
          <% group.active_examinations.each do |examination| %>
            <%= render partial: 'examination_line', locals: { examination: examination} %>
          <% end %>
          <% group.inactive_examinations.each do |examination| %>
            <%= render partial: 'examination_line', locals: { examination: examination} %>
          <% end %>
      </tbody>

  </table>

<% end %>