

<ul class="nav nav-tabs nav-stacked">
    
    <% if controller_name == 'statistics' %><li class="active"><% else %><li><% end %>
    <%= link_to 'Статистика', statistics_path %> </li>
    
    <% if controller_name == 'specialities' %><li class="active"><% else %><li><% end %>  
    <%= link_to 'Напрямки підготовки', specialities_path %> </li>
    
    <% if controller_name == 'groups' %><li class="active"><% else %><li><% end %>  
    <%= link_to 'Групи', groups_path %> </li>
    
    <% if controller_name == 'students' %><li class="active"><% else %><li><% end %>  
    <%= link_to 'Студенти', students_path %> </li>
    
    <% if controller_name == 'examinations' %><li class="active"><% else %><li><% end %>  
    <%= link_to 'Оцінювання', examinations_path %> </li>
   
    
</ul>



