

<ul class="nav nav-tabs nav-stacked">
    
    <% if controller_name == 'statistics' %><li class="active"><% else %><li><% end %>
    <%= link_to 'Статистика', statistics_path %> </li>
    
    <% if controller_name == 'specialities' %><li class="active"><% else %><li><% end %>  
    <%= link_to 'Напрями підготовки', specialities_path %> </li>
    
    <% if controller_name == 'groups' %><li class="active"><% else %><li><% end %>  
    <%= link_to 'Групи', groups_path %> </li>
    
    <% if controller_name == 'students' %><li class="active"><% else %><li><% end %>  
    <%= link_to 'Студенти', students_path %> </li>
    
    <% if controller_name == 'examinations' %><li class="active"><% else %><li><% end %>  
    <%= link_to 'Типи оцінювання', examinations_path %> </li>
    
    <% if controller_name == 'notes' %><li class="active"><% else %><li><% end %>
    <%= link_to 'Оголошення', notes_path %> </li>

    <li><%= link_to 'Попередній перегляд', preview_path, target: '_blank' %></li>
    
    <li><%= link_to 'Згенерувати вихідну сторінку', generate_page_path, target: '_blank' %></li>
   
    
</ul>



